:root {
    --clr-Primary: #1B0273; 
    --clr-Secondary: #3D2473; 
    --clr-ComplementaryOne: #6141A6; 
    --clr-ComplementaryTwo: #352559; 

    --clr-white: #ffffff; 
    --clr-black: #000000; 

    --Font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size-tall: 1.8rem; 
    --font-size-Title: 2.4rem; 
}
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
html {
    font-size: 62.5%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Newsreader', serif;
    width: 100%;
    height: 100%;
}

.left-col, .right-col {
    position: absolute;
    width: 50%;
    height: 100vh;
}

.left-col {
    background: var(--clr-Secondary);
}

.right-col {
    left: 50%;
}

.upper {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: var(--clr-black);
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 3s;
}

.bottom {
    position: absolute;
    top: 50%;
    height: 50vh;
    width: 100%;
   /*  background: url(../assets/img/one.jpg) no-repeat 50% 50%; */
    background: url(../assets/img/three.jpg) no-repeat 50% 50%; 
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.2s;
    object-fit: cover;
}

@media(max-width: 900px) {
    .left-col {
          width: 100%;
    }
    .right-col {
          top: 100%;
          left: 0%;
          width: 100%;
    }

}

.logo {
    font-family: Poppins;
    color: #fff;
    position: fixed;
    margin: 1.4em;
    font-weight: bolder;
    z-index: 1;
}

.year {
    position: absolute;
    color: var(--clr-white);
    font-family: Poppins;
    bottom: 8%;
    font-weight: bolder;
    transform: rotate(-90deg);
    left: 0%;
}

.buy {
    color: var(--clr-ComplementaryTwo);
    text-transform: uppercase;
    font-family: Poppins;
    text-decoration: underline;
    position: absolute;
    right: 0%;
    top: -2.6%;
    margin: 1.4em;
}

.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
  /*   background: url(../assets/img/tani-olorunyomi-jO6467xTRnA-unsplash.jpg) no-repeat 50% 50%; */
    background: url(../assets/img/one.jpg) no-repeat 50% 50%; 
    background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 2.6s;
    border-radius: 1rem;
}

.data {
    position: absolute;
    top: 36%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: var(--clr-ComplementaryTwo);
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#name {
    font-weight: bolder;
}

#artist {
    font-size: 10px;
}

.play, .next ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0.6;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2em;
}

.about {
    position: absolute;
    top: 40%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.about h1 {
    font-weight: bolder;
    color: var(--clr-white);
    font-family: Poppins;
    text-transform: uppercase;
}

.about p {
    color: var(--clr-ComplementaryOne);
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    cursor: pointer;
}

.about span:hover {
    text-decoration: underline;
}

.media {
    margin-top: 40px;
}

.media p {
    color: var(--clr-white);
    margin-bottom: 0;
}

.media ul {
    position: absolute;
    list-style: none;
    left: -24%;
    margin-top: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.media ul li {
    display: inline-block;
    color: var(--clr-white);
    padding-right: 10px;
}
.media ul li:hover {
    color: var(--clr-ComplementaryTwo);
}
.next {
    position: absolute;
    top: 24%;
    left: 16%;
    color: var(--clr-black);
    font-size: 2.5rem;
}

.data2 {
    position: absolute;
    top: 12%;
    left: 28%;
    color: var(--clr-black);
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.more {
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 15px;
    color: var(--clr-ComplementaryOne);
    text-transform: uppercase;
    font-family: Poppins;
    text-decoration: underline;
}

.block-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
}

.block-cover::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: var(--clr-ComplementaryTwo);
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2s;
}

@keyframes rev-block {

   0% {
        left: 0;
        width: 0%;
   }
   50% {
        left: 0;
        width: 100%;
   }
   100% {
        left: 100%;
        width: 0%;
   }

}

@keyframes appear-text {

   0% {
        opacity: 0;
   }
   100% {
        opacity: 1;
   }

}

.upper-block {
    position: absolute;
    width: 100%;
    height: 50vh;
}

.upper-block::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: var(--clr-black);
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2.4s;
}

         /*====== MEDIA QUERIES ====== */

/* @media screen and (max-width: 900px) { */
/*     .left-col { */
/*         width: 100%; */
/*     } */
/*     .right-col { */
/*         top: 100%; */
/*         left: 0%; */
/*         width: 100%; */
/*     } */
/* } */