* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
html {
    font-size: 62.5%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Newsreader', serif;
    width: 100%;
    height: 100%;
}
