:root {
    --clr-Primary: #1B0273; 
    --clr-Secondary: #3D2473; 
    --clr-ComplementaryOne: #6141A6; 
    --clr-ComplementaryTwo: #352559; 

    --clr-white: #ffffff; 
    --clr-black: #000000; 

    --Font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size-tall: 1.8rem; 
    --font-size-Title: 2.4rem; 
}
* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
html {
    font-size: 62.5%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    font-family: 'Newsreader', serif;
    width: 100%;
    height: 100%;
}
.left-col, .right-col {
    position: absolute;
    width: 50%;
    height: 100vh;
}
.left-col {
    background: var(--clr-Secondary);
}
.right-col {
    left: 50%;
}
.upper {
    position: absolute;
    width: 100%;
    height: 50vh;
    background: var(--clr-Primary);
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 3s;
}

.logo {
    color: #ffffff;
    position: fixed;
    margin: 1rem;
    font-weight: bold;
    z-index: 1;
    font-size: var(--font-size-Title);
}
.year {
    position: absolute;
    color: #ffffff;
    bottom: 8%;
    font-weight: bolder;
    transform: rotate(-90deg);
    left: 0%;
}
.buy {
   color: var(--clr-ComplementaryOne);
   color: var(--clr-white);
   bottom: 8%;
   font-weight: bolder;
   transform: rotate(-90deg);
   left: 0%;
}
.cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    background-image: url(../assets/img/tani-olorunyomi-jO6467xTRnA-unsplash.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0; 
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 0.6s;

}
.data {
    position: absolute;
    top: 36%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: var(--clr-ComplementaryTwo);
    text-transform: uppercase;
    letter-spacing: .4rem;
}
 #name {
     font-weight: bolder;
 }
 #artist {
     font-size: 1rem;
 }
 .play .next ion-icon {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: var(--clr-white);
     opacity: 0.6;
     border-radius: 50%;
     padding: 2rem;
     border: 1px solid rgba(255, 255, 255, 03);
 }

 .about {
     position: absolute;
     top: 40%;
     left: 25%;
     transform: translate(-50%, -50%);
 }
 .about h1 {
     font-weight: bolder;
     color: #ffffff;
     text-transform: uppercase;
 }
 .about p {
     color: #ffffff;
     text-transform: uppercase;
     letter-spacing: .4rem;
     font-size: 1rem;
     cursor: pointer;
 }
 .about span:hover {
     text-decoration: underline;
 }

 .media {
     margin-top: 4rem;
 }

.media p {
    color: #ffffff;
    margin-bottom: 0;
}

.media ul {
    position: absolute;
    list-style: none;
    left: -24px;
}
.media ul li {
    display: inline-block;
    padding-right: 2rem;
    color: var(--clr-ComplementaryOne);
}

        /* ====== MEDIA QUERIES ====== */

@media screen and (max-width: 900px) {
    .left-col {
        width: 100%;
    }
    .right-col {
        top: 100%;
        left: 0%;
        width: 100%;
    }
}